*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


body{
    background-color: black;
    color: #ffffff;
}

/* Style to Navigation bar */

.logo{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.logo img{
    height: 55px;
    width: 55px;
}
.logo h1{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    font-family:cursive;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10%;
    background:linear-gradient(#8562E9,#E231FF)
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    font-family: "Caladea", serif;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ffffff;
    position:absolute;
    left: 0;
    bottom: -9px;
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a:hover {
    color: #ffffff;
}